<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To do APP!</title>
    <link href="https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="./css/loginStyle.css">
    <script src="https://kit.fontawesome.com/e16e550c52.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="centered-form">
        <h1>Log in!</h1>
        <form id="login-form">
            <label for="">e-mail</label>
            <input type="text" placeholder="Your e-mail" name="email" autocomplete="on" required>
            <label for="">Password</label>
            <input type="password" name="password" placeholder="password" required>
            <button type="submit" for="login-form">Login</button>
        </form>

        <a href="/register">Sign up</a>
    </div>
    <script src="./js/login.js"></script>

</body>

</html>