* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Courier Prime", sans-serif;
    background-color: rgb(230,230,230);
    user-select: none;
}
.planner-app {
    position: relative;
}
.app-body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    min-height: 400px;
    width: 600px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #000;
    background-color: #FFF;

}

.top {
    align-self: flex-start;
    display: flex;
    justify-content: center;
    align-items: center;

}
.top h1 {
    font-size: 36px;
    margin: 20px 40px;
}
.tasks-section {
    display: flex;
    flex-direction: column;
}

.task {
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin-top: 5px;
    transition: transform .3s;
    cursor: pointer;
}

.task-content i {
    margin: 5px 5px;
}
.task-completed {
    text-decoration: line-through;
}
.task:hover {
    transform: scale(1.03);
}

.edit-task {
    padding-right: 15px;
}

.delete-task {
    background: none;
    cursor: pointer;
    border-style: none;
    font-weight: bold;
    color: rgb(236, 56, 56);
    transition: transform .3s;
    outline: none;
}
.delete-task:hover {
    transform: scale(1.1);
}

.edit-task {
    margin-left: auto;
    background: none;
    cursor: pointer;
    border-style: none;
    font-weight: bold;
    color: rgb(62, 236, 56);
    transition: transform .3s;
    outline: none;
}
.edit-task:hover {
    transform: scale(1.1);
}

.add-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 10px;
    margin-top: auto;
    margin-bottom: 20px;
    width: 500px;
    border: 1px solid black;
    border-radius: 5px;

}
.add-btn {
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    padding-right: 10px;
    translate: transform .5s;
}
.add-btn:hover {
    transform: scale(1.1);
}
.add-task {
    display: flex;
    flex-grow: 1;

}
.add-task input {
    flex-grow: inherit;
    font-size: 20px;
    padding: 5px;
}

.edit-panel {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 200px;
    height: 200px;
    top: 50px;
    right: 5px;
    border: solid 1px black;
    border-radius: 5px;
    background-color:#FFF;
    opacity: 0;
    z-index: -2;
    transition: transform .5s, opacity .3s;
}
.active {
    transform: translateX(211px);
    opacity: 1;
    z-index: 0;
}
.edit-panel h3 {
    margin-top: 20px;
}
.save-button, .cancel-button {
    width: 75px;
    padding: 5px 15px;
    border-radius: 3px;
}